#logo {
    width: 200px;
}

#header-message {
    font-family: sriracha,cursive;
    color: white;
    font-size: 24px;
    text-align: center;
}

#logo-box, .footer-box {
    height: 152px;
}

.bg-blue {
    background-color: rgb(16, 91, 172);
    color: white;
}

#nav-decorator {
    height: 20px;
}

.dropdown-toggle::after {
    content: none;
}

.nav-link {
    margin: 0 10px;
}

img {
    max-width: 100%;
    height: auto;
}

#index-message-box {
    width: 130%;
}

#image-1-box {
    width: 130%;
}

/* Change on smaller devices! */
#index-right-box {
    display: flex;
    align-content: flex-end;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 30%;
    text-align: center;
}
/**/

.index-header {
    font-weight: 800;
    font-style: italic;
}

.page-heading {
    color: rgb(16, 91, 172);
    font-family: sriracha,cursive;
}

#alumni-image {
    margin-top: 20px;
    height: 112px;
}

.social-networks {
    text-align: center;
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
    align-content: center;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 30px 0;
    color: white;
}

.social-networks i:hover {
    border-bottom: 2px solid white;
    padding-bottom: 2px;
}

.social-networks ul {
    width: 100%
}

.footer-box {
    display: inline-flex;
}

.tiny-text {
    font-size: 12px;
}

.our-mission {
    flex: 100%;
}

.fwlight {
    font-weight: 300;
}

.ange {
    max-width: 111.5% !important;
}

.ange-box {
    overflow: hidden;
}

.white-button {
    background-color: white;
    color: rgb(16, 91, 172);
    border: 1px solid white;
    width: fit-content;
    display: flex;
}

.white-button:hover {
    background-color: rgb(16, 91, 172);
    color: white;
}

.request-link {
    color: white !important;
}

.fa-quote-right {
    font-size: 72px;
}

.festival-card {
    height: 680px;
    background-color: rgb(16, 91, 172);
    color: white;
}

.festival-info {
    height: 250px;
    overflow: scroll;
    margin-bottom: 20px;
}

.quote-box {
    height: 400px;
    overflow: scroll;
}

.bg-lightblue {
    background-color: #BCDBFB;
    color: rgb(16, 91, 172);
}

@media (min-width: 1200px) {
    .image-business-box {
        max-height: 820px;
        overflow: hidden;
        display: flex;
        flex-wrap: wrap;
        align-content: flex-start;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .image-business-box {
        max-height: 936px;
        overflow: hidden;
        display: flex;
        flex-wrap: wrap;
        align-content: flex-start;
    }
}