#logo {
    width: 200px;
}

#header-message {
    font-family: sriracha,cursive;
    color: white;
    font-size: 24px;
    text-align: center;
}

#logo-box {
    height: 152px;
    background-color: rgb(16, 91, 172);
}

.dropdown-toggle::after {
    content: none;
}