@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Quicksand:wght@300;400;500;600;700&family=Raleway:wght@300;400;500;600;700&family=Ysabeau+Infant:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300&display=swap');

/* Header */

#logo {
    width: 200px;
}

#header-message {
    color: white;
    font-size: 24px;
    text-align: center;
}

#logo-box, .footer-box {
    height: 152px;
}

#nav-decorator {
    height: 20px;
}

.dropdown-toggle::after {
    content: none;
}

.nav-link {
    margin: 0 10px;
}

button.navbar-toggler {
    font-size: 16px;
    border-radius: 0;
    border: 1px solid grey;
}

button.navbar-toggler:focus {
    outline: 2px solid grey;
}

@media (min-width: 406px) {
    .col-inv {
        display: none;
    }
}

/* Mobile Device Responsiveness */

@media (max-width: 767px) {
    #logo-box {
        height: fit-content;
    }
    
    #nav-decorator {
        display: none;
    }
    
    .dashes {
        display: none;
    }
    
    li.nav-item.dropdown.show, .dropdown-menu, li.nav-item.dropdown, .dropdown-menu.show {
        text-align: center;
    }
}

@media (max-width: 405px) {
    #header-message {
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }
    .hm-p {
        display: none;
    }
}

/* Index Page */

#index-message-box {
    width: 130%;
}

#image-1-box {
    width: 130%;
}

.our-mission {
    flex: 100%;
}

.homepage-links-row {
    height: 650px;
}

.index-links-box {
    height: 245px;
}

.index-links-button {
    z-index: 1;
    margin-top: -15px;
}

#index-right-box {
    display: flex;
    align-content: flex-end;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 30%;
    text-align: center;
}

.index-header {
    font-weight: 800;
    font-style: italic;
}

.custom-mb {
    margin-bottom: 0;
}

/* Large Device Responsiveness */

@media (min-width: 992px) {
    #index-left-box, #index-right-box {
        flex: 0 0 50%;
        max-width: 50%;
    }
}

@media (max-width: 1199px) {
    .index-links-box {
        height: 185px;
    }
    p {
        font-size: 16px;
    }
    .custom-mb {
        margin-bottom: 9px;
    }
    h3 {
        font-size: 22px;
    }
}

/* Laptop Device Responsiveness */

@media (min-width: 768px) and (max-width: 991px) {
    .md-remove {
        display: none;
    }
    .index-links-box {
        height: 100px;
    }
    h3 {
        font-size: 16px;
    }
    .homepage-links-row {
        height: 500px;
    }
}

@media (max-width: 991px) {
    #image-1-box, #index-message-box {
        width: 100%;
    }
    #index-right-box {
        margin-top: 0;
        align-content: center;
    }
    #image-1-box {
        display: flex;
        justify-content: center;
    }
    .index-image-one {
        width: 50%;
    }
}

@media (min-width: 850px) {
    .d-850-block {
        display: block !important;
    }
}

@media (min-width: 768px) {
    .first-index-row {
        margin-top: 1.5rem!important;
    }
}

@media (min-width: 576px) and (max-width: 991px) {
    #index-message-box {
        margin-top: 1.5rem!important;
    }
}

/* Mobile Device Responsiveness */

@media (max-width: 767px) {
    .homepage-links-row {
        height: 1850px;
        justify-content: center;
    }
    .index-links-card {
        margin: 0.75rem 0;
    }
}

@media (max-width: 575px) {
    .first-index-row {
        padding-left: 15px !important;
        padding-right: 15px !important;
    }
    .index-image-one {
        display: none;
    }
}

@media (max-width: 365px) {
    .homepage-links-row {
        height: 1500px;
    }
    .md-remove {
        display: none;
    }
    .index-links-box {
        height: 150px;
    }
}

/* About Page */

.fwlight {
    font-weight: 300;
}

/* Apprenticeships Page */

#global-image {
    position: absolute;
    max-width: 130%;
}

#bridge-image {
    position: absolute;
    max-width: 130%;
    display: none;
    bottom: -125%;
}

.text-540-white h3 {
    text-align: center;
}

/* Laptop Device Responsiveness */

@media (max-width: 991px) {
    #bridge-image {
        display: block;
        opacity: 0.3;
    }
    #global-image {
        display: none;
    }
}

@media (min-width: 541px) and (max-width: 991px) {
    .bridge-box {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: white;
    }
}

@media (max-width: 850px) {
    #bridge-image {
        bottom: -100%;
    }
}

@media (max-width: 770px) {
    #bridge-image {
        top: 0;
        bottom: auto;
    }
}

/* Mobile Device Responsiveness */

@media (max-width: 540px) {
    #bridge-image {
        display: none;
    }
    .text-540-white p, .text-540-white h3 {
        color: white !important;
    }
    .col-540-12 {
        flex: 0 0 100% !important;
        max-width: 100% !important;
    }
}

/* Areas Page */

.area-image-box {
    border-radius: 50%;
    overflow: hidden;
    width: 200px;
    height: 200px;
}

.area-image {
    position: absolute;
    display: flex;
    border-radius: 50%;
    width: 200px;
    overflow: hidden;
}

.area-name {
    width: 200px;
    display: none;
    height: 200px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-weight: 600;
}

.area-anchor {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    z-index: 2;
    display: flex;
    position: absolute;
}

/* (Areas) Aerospace Page */

.airbus-box {
    border: 5px solid rgb(16, 91, 172);
}

@media (min-width: 576px) and (max-width: 767px) {
    .sm-px-0 {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}

/* (Areas) Metals Page */

.col-r-border {
    border-right: 1px solid rgb(16, 91, 172);
}

.col-l-border {
    border-left: 1px solid rgb(16, 91, 172);
}

.col-b-border {
    border-bottom: 2px solid rgb(16, 91, 172);
}

.col-t-border {
    border-top: 2px solid rgb(16, 91, 172);
}

.white-r-border {
    border-right: 1px solid white;
}

.white-l-border {
    border-left: 1px solid white;
}

.white-b-border {
    border-bottom: 2px solid white;
}

.white-t-border {
    border-top: 2px solid white;
}

.honing-small {
    display: none;
}

/* Laptop Device Responsiveness */

@media (max-width: 991px) {
    .honing-small {
        display: flex;
    }
    .honing-large {
        display: none;
    }
}

/* Mobile Device Responsiveness */

@media (max-width: 767px) {
    .col-md-tb-none {
        border-top: none;
    }
    #metal-video {
        max-width: 220px;
        height: 100% !important;
    }
}

@media (min-width: 400px) {
    .d-400-block {
        display: block !important;
    }
}

/* Business Engagement Page */

.changeable-row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

/* Extra Large Device Responsiveness */

@media (min-width: 1200px) {
    .image-business-box {
        max-height: 820px;
        overflow: hidden;
        display: flex;
        flex-wrap: wrap;
        align-content: flex-start;
    }
}

/* Large Device Responsiveness */

@media (min-width: 992px) and (max-width: 1199px) {
    .image-business-box {
        max-height: 936px;
        overflow: hidden;
        display: flex;
        flex-wrap: wrap;
        align-content: flex-start;
    }
}

/* Mobile Device Responsiveness */

@media (max-width: 576px) {
    .leigh-box {
        display: none !important;
    }
    .changeable-row {
        flex-direction: column;
        align-content: center;
        margin-top: 0.5rem;
    }
    .ten-576 {
        flex: 0 0 83.333333%;
        max-width: 83.333333%;
    }
    .small-margin-row {
        margin-left: -5px;
        margin-right: -5px;
    }
}

/* Festivals Page */

.ange {
    max-width: 111.5% !important;
}

.ange-box {
    overflow: hidden;
}

.festival-card {
    height: 680px;
    background-color: rgb(16, 91, 172);
    color: white;
}

.pink-festival-card {
    height: 680px;
    background-color: #F4D7F9;
    color: rgb(16, 91, 172);
}

.festival-info {
    height: 250px;
    overflow: scroll;
    margin-bottom: 20px;
}

.festivals-ch-row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

/* Laptop Device Responsiveness */

@media (min-width: 768px) and (max-width: 991px) {
    .festival-info {
        height: 320px;
    }
}

/* Mobile Device Responsiveness */

@media (max-width: 767px) {
    .festivals-ch-row {
        flex-direction: column;
        align-content: center;
    }
}

@media (max-width: 575px) {
    .festival-card, .pink-festival-card {
        flex: 0 0 100% !important;
        max-width: 100% !important;
    }
}

/* Find a Manufacturer page */

#map {
    height: 650px;
}

.map-images {
    border-radius: 50%;
}

/* Mobile Device Responsiveness */

@media (max-width: 767px) {
    .small-align-center {
        align-items: center;
    }
    .sm-pr-0 {
        padding-left: 30px !important;
    }
}

@media (max-width: 600px) {
    .map-images {
        width: 150px;
    }
}

/* Map Markers & infoWindows */

.business-card-row {
    width: 300px;
}

.gm-style img {
    max-width: 100%;
    height: fit-content;
}

.gm-style-iw-d {
    padding-bottom: 3px;
    margin-right: -10px;
}

.col-4-5 {
    flex: 0 0 35%;
    max-width: 35%;
}

.col-7-5 {
    padding-right: 0 !important;
    padding-left: 10px !important;
    width: fit-content;
}

.gm-style-iw.gm-style-iw-c {
    padding-right: 4px !important;
}

/* Map Marker infoWindow close Button */

.gm-ui-hover-effect>span {
    margin: 0 !important;
}

.gm-ui-hover-effect {
    top: 2px !important;
    right: 2px !important;
    width: 15px !important;
    height: 18px !important;
    padding-left: 0.5px !important;
    border-radius: 10%;
}

/* Getting Started Page */

.about-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: 50%;
    margin-left: -50px;
    overflow: hidden;
    border: 1px solid white;
}

.height-control {
    height: 200px;
    overflow: scroll;
}

/* Laptop Device Responsiveness */

@media (max-width: 991px) {
    .about-image {
        width: 70px;
        height: 70px;
        top: -35px;
        margin-left: -35px;
    }
    .mt-6 {
        margin-top: 3.5rem !important;
    }
}

/* Mobile Device Responsiveness */

@media (min-width: 570px) and (max-width: 767px) {
    .mt-6 {
        flex: 0 0 66.666667% !important;
        max-width: 66.666667% !important;
    }
}

/* How is it Made Page */

/* Mobile Device Responsiveness */

@media (max-width: 767px) {
    .sm-cont {
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    }
    #pizza-video {
        width: fit-content !important;
        max-width: 300px;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .sm-cont {
        max-width: 540px;
    }
}

/* News Page */

#collapseOne, #collapseTwo, #collapseThree {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
}

.news-button {
    border-radius: 0;
}

/* Laptop Device Responsiveness */

@media (max-width: 991px) {
    .laptop-100 {
        width: 100% !important;
    }
}

/* Students Page */

#diagram-middle {
    position: absolute;
    left: 30%;
    top: 41.5%;
    border-radius: 50%;
    width: 40%;
}

.jetfan {
    display: none;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    position: absolute;
    bottom: 0;
    height: 100%;
    margin-bottom: 0;
    padding: 30px;
}

/* Large Screen Responsiveness */

@media (min-width: 992px) and (max-width: 1199px) {
    #diagram-middle {
        top: 44%;
    }
}

/* Laptop Device Responsiveness */

@media (min-width: 768px) and (max-width: 991px) {
    #diagram-middle {
        top: 50%;
    }
}

@media (max-width: 991px) {
    #jetfan {
        max-width: 130%;
        height: 100%;
    }
}

/* Mobile Device Responsiveness */

@media (max-width: 767px) {
    #diagram-middle {
        top: 60%;
    }
    .students-image-box {
        margin-bottom: 0.5rem;
        height: 400px;
    }
}

@media (max-width: 575px) {
    .diagram-box {
        display: none;
    }
    .margin-above-diagram {
        margin-bottom: 0 !important;
    }
}

/* Successful Person Page */

.successful-image {
    display: flex;
    float: right;
    margin: 0 0 1.5rem 1.5rem;
    max-width: 40%;
}

/* Mobile Device Responsiveness */

@media (max-width: 767px) {
    .successful-image {
        float: none;
        margin-left: 0;
    }
    #about {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 500px) {
    .successful-image {
        max-width: 50%;
    }
}

@media (max-width: 400px) {
    .successful-image {
        max-width: 70%;
    }
}

/* Together Page */

.background {
    background: url(/assets/images/courses-background.webp);
}

.together-image {
    border-radius: 50%;
    max-height: 300px;
    max-width: fit-content;
}

.service-ul {
    padding-left: 25px;
}

.card-top {
    height: 370px;
    overflow: scroll;
}

.bottom-text {
    position: absolute;
    bottom: 0;
    height: 72px;
    align-items: center;
    display: flex;
}

.price-message {
    height: 120px;
    display: flex;
}

.result-row {
    position: absolute;
    bottom: 65px;
}

.price-box {
    width: 33% !important;
    justify-content: center;
}

.service-card {
    height: 720px;
    padding: 0;
    max-width: 350px;
}

/* Mobile Device Responsiveness */

@media (max-width: 767px) {
    .m-flex-change {
        flex-direction: column;
        align-content: center;
    }
    .together-image {
        max-height: 200px;
    }
    .service-card {
        max-width: 100%;
        height: fit-content;
        margin-bottom: 1rem;
    }
    .price-message {
        height: auto;
    }
    .card-top {
        height: auto;
        overflow: visible;
    }
    .background {
        align-items: center;
    }
    .mb-this-0 {
        margin-bottom: 0 !important;
    }
    .result-row, .bottom-text {
        position: static;
    }
    .bottom-text {
        height: auto;
    }
}

@media (max-width: 560px) {
    .background {
        background: #fff;
    }
}

/* Training Page */

/* Laptop Device Responsiveness */

@media (min-width: 768px) and (max-width: 991px) {
    img.training-img {
        max-width: 120% !important;
    }
    .training-image-box {
        overflow: hidden;
        display: flex;
        justify-content: center;
    }
}

/* Mobile Device Responsiveness */

@media (max-width: 767px) {
    .small-mb {
        margin-bottom: 1rem;
    }
    .mid-training-row {
        flex-direction: column-reverse;
    }
}

@media (max-width: 440px) {
    .training-head {
        text-align: center;
    }
}

/* What We Provde Page */

.quote-card {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.col-mysize-4 {
    display: flex;
    justify-content: center;
}

.stem-message-box {
    padding-top: 20px;
    padding-bottom: 6px;
}

.provide-card {
    aspect-ratio: 1/1;
    overflow: hidden;
    max-width: 450px;
}

.provide-row {
    justify-content: center;
    flex-wrap: wrap;
}

.provide-message {
    padding-right: 2rem !important;
}

/* Extra Large Device Responsiveness */

@media (min-width: 1570px) {
    .col-mysize-4 {
        flex: 0 0 33.333333% !important;
        max-width: 33.333333% !important;
    }
}

@media (min-width: 1200px) {
    .stem-header {
        font-size: 2rem;
    }
    .stem-message-box {
        padding-top: 1.5rem !important;
        padding-bottom: 1.5rem !important;
        height: 100%;
        justify-content: center;
        display: flex;
        flex-direction: column;
    }
}

@media (min-width: 1040px) {
    .col-mylg-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }
}

/* Large Device Responsiveness */

@media (min-width: 992px) {
    .provide-row {
        margin: 0 5%;
    }
}

/* Laptop Device Responsiveness */

@media (max-width: 991px) {
    .provide-row {
        flex-direction: column;
        align-content: center;
        flex-wrap: wrap;
    }
    .t-flex-column-reverse {
        -ms-flex-direction: column-reverse!important;
        flex-direction: column-reverse!important;
        align-items: center;
    }
    .stem-header {
        text-align: center;
    }
}

/* Mobile Device Responsiveness */

@media (max-width: 767px) {
    .provide-row {
        margin: 0 5%;
    }
}

@media (max-width: 540px) {
    .provide-image-box {
        display: none;
    }
    .provide-message {
        flex: 0 0 100% !important;
        max-width: 100% !important;
        padding-left: 2rem !important;
    }
    .provide-card {
        aspect-ratio: auto;
    }
    .provide-message h4 {
        text-align: center;
    }
    .quote {
        text-align: center;
    }
}

/* General CSS */

body {
    font-family: 'Quicksand', sans-serif;
}

.bottom-0 {
    bottom: 0;
}

.page-heading {
    color: rgb(16, 91, 172);
}

.w-fc {
    width: fit-content;
}

.w-97 {
    width: 97% !important;
}

.w-70 {
    padding: 0;
    width: 70%;
}

.db-bt {
    border-top: 10px solid rgb(16, 91, 172);
}

img {
    max-width: 100%;
    height: auto;
}

.list-style-none {
    list-style-type: none;
}

.max-550 {
    max-width: 550px;
}

.hr-border-top {
    border-top: 2px solid white;
    padding-top: 15px;
    width: 70%;
    text-align: center;
}

.hr-border-bottom {
    border-bottom: 2px solid white;
    padding-bottom: 15px;
    width: 70%;
    text-align: center;
}

.tiny-text {
    font-size: 12px;
}

.mt-mine {
    margin-top: 0.75rem !important;
}

.mt-6 {
    margin-top: 4.5rem;
}

.flex-auto {
    flex: auto !important;
}

.overflow-hidden {
    overflow: hidden !important;
}

.text-black {
    color: black !important;
}

.fa-quote-right {
    font-size: 72px;
}

.quote-box {
    height: 400px;
    overflow: scroll;
}

/* Background Color CSS */

.bg-blue {
    background-color: rgb(16, 91, 172);
    color: white;
}

.bg-lightblue {
    background-color: #BCDBFB;
    color: rgb(16, 91, 172);
}

.bg-lightpink {
    background-color: #F4D7F9;
    color: rgb(16, 91, 172);
}

/* Coloured Buttons CSS */

.bg-blue-button {
    background-color: rgb(16, 91, 172);
    color: white;
    border: 1px solid darkblue;
}

.bg-blue-button:hover {
    background-color: white;
    color: rgb(16, 91, 172);
    border: 1px solid darkblue;
    cursor: pointer;
    text-decoration: none;
}

.bg-lightblue-button {
    background-color: #BCDBFB;
    color: rgb(16, 91, 172);
    border: 1px solid rgb(16, 91, 172);
}

.bg-lightblue-button:hover {
    background-color: white;
    color: rgb(16, 91, 172);
    border: 1px solid rgb(16, 91, 172);
    cursor: pointer;
    text-decoration: none;
}

.bg-white-button {
    background-color: white;
    color: rgb(16, 91, 172);
    border: 1px solid rgb(16, 91, 172);
}

.bg-white-button:hover {
    background-color: #BCDBFB;
    color: rgb(16, 91, 172);
    border: 1px solid rgb(16, 91, 172);
    cursor: pointer;
    text-decoration: none;
}

.white-button {
    background-color: white;
    color: rgb(16, 91, 172);
    border: 1px solid white;
    width: fit-content;
    display: flex;
}

.white-button:hover {
    background-color: rgb(16, 91, 172);
    color: white;
    text-decoration: none;
}

/* Videos */

#pizza-video {
    height: 400px;
    width: fit-content;
    margin: 1rem 0;
}

#lego-video {
    width: 90%;
    margin: 2rem 0;
}

#metal-video {
    height: 500px;
}

/* Mobile Device Font Size Control */

@media (max-width: 767px) {
    h1, h2, h3 {
        font-size: 22px;
    }
    h4, p {
        font-size: 16px;
    }
}

/* Footer */

#alumni-image {
    margin-top: 20px;
    height: 112px;
    max-width: fit-content;
}

.social-networks {
    text-align: center;
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
    align-content: center;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 30px 0;
    color: white;
}

.social-networks i:hover {
    border-bottom: 2px solid white;
    padding-bottom: 2px;
}

.social-networks ul {
    width: 100%
}

.footer-box {
    display: inline-flex;
}

/* Mobile Device Responsiveness */

@media (max-width: 420px) {
    .social-networks {
        flex-direction: column;
        align-items: center;
        height: 80%;
        margin-top: -5px;
    }
    #footer-name {
        display: none;
    }
}

/* Sticky Footer */

* {
    margin: 0;
    padding: 0;
  }
  
  html,
  body {
    height: 100%;
  }
  
  #wrap {
    min-height: 100%;
  }
  
  #main {
    overflow: auto;
    padding-bottom: 152px;
  }
  
  #footer {
    position: relative;
    margin-top: -152px;
    clear: both;
  }
  
  body:before {
    content: "";
    height: 100%;
    float: left;
    width: 0;
    margin-top: -32767px;
  }
